/* navbar Starts */
.wrapper{
    display: flex;
    position: relative;
  }
  
  .wrapper .sidebar{
    width:0px; 
    height: 100%;
    right:0px;
    top:0px;
    background: #4b4276;
    padding: 30px 0px;
    position: fixed;
  }
  .small{
      position:absolute;
      height:350px;
      width:15px;
      right: 0px;
      top:150px;
      background-color: orangered;
  }

.small:hover .sidebar{
    width: 60px;
}

.icons{
    position: relative;
    line-height: 70px;
    top:100px;
    color: blue;
    padding-left: 5px;
}
.icons:hover{
    color: white;
}
.i1{
    padding-left: 7px;
}
/* navbar Ends*/
.about{
    border:1px solid black;
    width: 60%;
    height: 650px;
    padding: 10px;
    margin: 200px;
    position: relative;
    text-align: right;
    background-color: rgb(201, 186, 216);
}
.introduction{
    border:1px solid black;
    width: 500px;
    height: 150px;
    left: -40px;
    padding: 10px;
    margin: auto;
    text-align: left;
    position: relative;
}
.abouttool{
    border:1px solid black;
    left: -40px;
    width: 500px;
    height: 150px;
    padding: 10px;
    margin: auto;
    text-align: center;
    position: relative;
}
.feature{
    border:1px solid black;
    left: -40px;
    width: 500px;
    height: 150px;
    padding: 10px;
    margin: auto;
    text-align: right;
    position: relative;
}

